@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Huge;
  src: url("./fonts/PPAgrandir-GrandHeavy.otf") format("opentype");
}

@font-face {
  font-family: Wide;
  src: url("./fonts/PPAgrandir-WideLight.otf") format("opentype");
}

@font-face {
  font-family: Regular;
  src: url("./fonts/PPAgrandir-Regular.otf") format("opentype");
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: inherit;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: scroll;
}

h1, h2 {
  font-family: 'Huge', sans-serif;
  font-weight: 600;
}

h3, h4, h5, h6 {
  font-family: 'Wide', sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Regular', serif;
  font-weight: 400;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}